target

# backend folder
.env.prod
.env
.venv
__pycache__
output
logs
test_reports
qdrant_data
postgres_data
*.htpasswd

# frontend build
webapp

# frontend folder -> frontend/.gitignore

# mvn hpi:run
work

# IntelliJ IDEA project files
*.iml
*.iws
*.ipr
.idea

# Eclipse project files
.settings
.classpath
.project
