######## DOCKER COMPOSE #########
COMPOSE_PROFILES=""


########### FASTAPI ############
ALLOW_ORIGINS="http://localhost:5173"


########### CHROMADB ############

###### --- NO AUTH --- #######
# Add "chromadb_no_auth" to COMPOSE_PROFILES
 
###### --- TOKEN AUTH --- #######
# Add "chromadb_token_auth" to COMPOSE_PROFILES

# Generate token: openssl rand -base64 32

CHROMA_HOST="localhost"
CHROMA_PORT="8000"
CHROMA_SSL="false"
CHROMA_TOKEN="0lFPXlGtnuUaKSCumUQYemu85DB5QTadIjXi8hg88RA="

######## HUGGING FACE ########
HUGGING_FACE_EMBEDDING_NAME="all-MiniLM-L6-v2"

########### OTHER ############
DATABASE_URL="http://localhost:6000/"