######## DOCKER COMPOSE #########
COMPOSE_PROFILES="qdrant_token_auth"

########### FASTAPI ############
ALLOW_ORIGINS="http://localhost:5173"

########### QDRANT ############
QDRANT_HOST="localhost"
QDRANT_PORT="6333"
QDRANT_SSL="false"
QDRANT_COLLECTION_NAME="production_docs"

###### --- NO AUTH --- #######
# Add "qdrant_no_auth" to COMPOSE_PROFILES
 
###### --- TOKEN AUTH --- #######
# Add "qdrant_token_auth" to COMPOSE_PROFILES

# Generate token: openssl rand -base64 32
QDRANT_SECRET_KEY="your-secret-key"

######## HYBRID RETRIEVER ########
HUGGING_FACE_EMBEDDING_NAME="all-MiniLM-L6-v2"
EMBEDDING_SIZE="384"
FAST_EMBED_SPARSE_MODEL_NAME="Qdrant/bm25"

########### OTHER ############
DATABASE_URL="http://localhost:6000/"
