server {
    listen 8000;

    location / {
        if ($http_authorization != "Bearer ${CHROMA_TOKEN}") {
            return 401 "Unauthorized Access - Invalid or Missing Token\n";
        }

        proxy_pass http://chromadb_secure:8000;
        
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_read_timeout 300s;
        proxy_connect_timeout 75s;
    }
}